* {
  margin: 0;
  padding: 0;
  font-family: 'Barrio', cursive;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align:center;
  background-color: #f7f3d8;
}
body * { margin-top: 15vh }
@media (max-width: 768px) {
  body * { margin-top: 10vh }
}
h1 { font-size: 2.7rem }
p { color: tomato }
